.App {
  text-align: center;
}
.Person{
  background-color: gainsboro;
  width: 60%;
  margin: 16px auto ;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}

.btn{
  background-color: greenyellow;
  font: 'inherit';
  border: 1px solid white;
  padding: 8px;
  cursor: pointer;
}
